.carousel {
  width: 230px;
  height: 260px;
  color: black;
  display:flex;
  align-items:center;
  margin-left: 132px;
}

#body-container {
  max-width: 500px;
  margin: auto;
  align-items:center;
}
#word-container {
  text-align: center;
  margin-top: 40px;
}
#shipping-text {
  text-align: center;
  margin-top: 10px;
}
#order-now-link {
  margin-top: -10px;
}
