input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}

#form-container {
  border-radius: 1px;
  padding: 20px;
}

body{
    text-align: center;
}


#contact-info{
  margin-top: 40px;
}
#contact-header{
  margin-bottom: 30px;
}