input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}

#form-container {
  border-radius: 1px;
  background-color: #f2f2f2;
  padding: 20px;
}